<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarly - Explore Mastery Education</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
        <nav>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Courses</a>
            <a href="#">Contact Us</a>
            <a href="#">Register</a>
        </nav>
    
  <main class="main">
    <div class="container">
      <section class="hero">
        <div class="hero-text">
          <h1>Explore the mastery of education</h1>
          <p>Explore unlimited courses that fit your niche to hasten the process of skill development.</p>
          <button class="button">Join us</button>
        </div>
        <div class="hero-image">
          <img src="../styles/img/busy-student-prepares-for-university-admission-wat-2022-11-19-01-40-12-utc-min-c8f418f0-640w.webp" alt="Home Image">
        </div>
      </section>
      <section class="stats">
        <div class="stat">
          <h2>OVER 500+ COURSES IN ONE PLACE</h2>
        </div>
        <div class="stat">
          <h2>4.9*****</h2>
          <p>Student Reviews</p>
        </div>
      </section>
      <section class="cta">
        <a href="#">LET'S GO →</a>
      </section>
    </div>
  </main>
  
</body>
</html>
