<link rel="stylesheet" href="../styles/homepage.css">
<body>
  <main class="main">
    <div class="container">
      <section class="hero">
        <div class="hero-text">
          <h1>Explore the mastery of education</h1>
          <p>Explore unlimited courses that fit your niche to hasten the process of skill development.</p>
          <button class="button">Join us</button>
        </div>
        <div class="hero-image">
          <img src="../styles/img/homepage.png" alt="Home Image">
        </div>
      </section>
      <section class="stats">
        <div class="stat">
          <h2>OVER 500+ COURSES IN ONE PLACE</h2>
        </div>
        <div class="stat">
          <h2>4.9*****</h2>
          <p>Student Reviews</p>
        </div>
      </section>
      <section class="cta">
        <a href="#">LET'S GO →</a>
      </section>
    </div>
  </main>
</body>
</html>