
 
  <link rel="stylesheet" href="../styles/nav.css">
<body>

  <!-- Navbar Section -->
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="#"><img src="institution-logo.png" alt="Institution Logo"></a>
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Admissions</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="nav-btn">
        <a href="#" class="btn">Login</a>
      </div>
    </nav>
  </header>

</body>
</html>
