<link rel="stylesheet" href="../styles/registration.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
    <div class="registration-container">
        <form action="/registration" method="POST">
            <div class="input-group">
                
                <label for="photo">Photo</label>
                <input type="file" id="photo" name="photo" accept="image/*">
                
                
            </div>

            

            <div class="input-group">
                <label for="name">First Name</label>
                <input type="text" id="firstname" placeholder="Enter Your First Name" name="firstname" required>
                
            </div>

            <div class="input-group">
                <label for="name">Last Name</label>
                <input type="text" id="lastname" placeholder="Enter Your Last Name" name="lastname" required>
                
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter Your Email-Id" name="email" required>
                
            </div>

            <div class="input-group">
                <label for="Phone">Phone No</label>
                <input type="text" placeholder="Enter Your Phone-No" required>
                
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" placeholder="Enter Your Password" name="password" required>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                </div>
            </div>

            <div class="input-group">
                <label for="Student_Teacher">Are you Student or Teacher:</label>
                <select id="Student_Teacher" name="Student_Teacher" required>
                    <option value="">Select</option>
                    <option value="T">Teacher</option>
                    <option value="S">Student</option>
                </select>
            </div>

            <button type="submit" class="register-button">Register</button>
        </form>
        
    </div>
</body>



<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordField = document.getElementById('password');
        const icon = this.querySelector('i');

        // Toggle the type attribute
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);

        // Toggle the Font Awesome icon classes
        icon.classList.toggle('fa-eye');
        icon.classList.toggle('fa-eye-slash');
    });

</script>




