
<%- include('./components/user-layout', { title: 'Dashboard', body: ` 
  <div>
    yay! youre logged in !!
    <button id="logout">Logout</button>
  </div>
`}) %>




<script>
  const logoutButton = document.getElementById('logout');
  logoutButton.addEventListener('click', ()=>{
    window.location.href = '/logout';
  })
</script>