<div>
  Yay you have logged in 
  <button id="logout">Logout</button>
</div>

<script>
  const logoutButton = document.getElementById('logout');
  logoutButton.addEventListener('click', ()=>{
    window.location.href = '/logout';
  })
</script>