/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #22668D;
    background: linear-gradient(to bottom right, #F0F4F8, #FFFADD);
  }
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
  }
  
  .section-title {
    color: #22668D;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .vision-card, .mission-card, .card {
    background: #FFCC70;
    border: 1px solid #8ECDDD;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .vision-card img, .mission-card img, .card img {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background: #FFCC70;
    border: 1px solid #8ECDDD;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #22668D;
    width: calc(33.333% - 40px);
    max-width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-title {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #003D6B, #0056A0);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .cta-button:hover {
    background: linear-gradient(to right, #0056A0, #003D6B);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .team-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  /* Animations */
  .fade-in {
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }