.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-container {
  background-color: #22668D;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  color: #FFFADD;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #FFFADD; /* Use the same label color as in Sign In */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #8ECDDD;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #22668D;
  background-color: #FFFADD; /* Set the default background to match Sign In */
}

textarea {
  resize: none;
  height: 100px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
  border-color: #FFCC70;
  background-color: #FFFADD; /* Background color when the field is active */
}

button {
  background-color: #FFCC70;
  color: #22668D;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #F2B646;
}
