.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-container{
  background-color: #8ECDDD;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.contact-container:hover {
  transform: scale(1.02);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #22668D;
  transition: color 0.3s ease-in-out;
}

label:hover {
  color: #FFCC70;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #22668D;
  border-radius: 4px;
  font-size: 14px;
  color: #22668D;
  background-color: #FFFADD;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #FFCC70;
  box-shadow: 0 0 5px rgba(255, 204, 112, 0.7);
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #FFCC70;
  border: none;
  border-radius: 4px;
  color: #22668D;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #FFE082;
  transform: scale(1.05);
  opacity: 0.9;
}

button:active {
  background-color: #FFD54F;
  transform: scale(0.98);
}