@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #EAEAEA;
  padding: 20px;
  display: flex;
}

h1, h2 {
  font-size: 24px;
  color: #2E3B4E;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 300px;
  width: calc(100% - 300px);
}

.card-container {
  width: 350px;
  height: 380px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #2E3B4E;
}

.card .discount {
  font-size: 16px;
  color: #D9534F;
  text-decoration: line-through;
  margin-left: 10px;
}

.card .price {
  font-size: 20px;
  color: #28A745;
  font-weight: 600;
  padding-left: 5px;
}

.card .price:hover {
  color: #F39C12;
  font-size: 22px;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.card .view-details {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card .view-details:hover {
  background-color: #0056b3;
}

.card:hover {
  background: #D1E8E2;
  transform: scale(1.05);
}

.card:hover p, .card:hover .discount {
  color: #2E3B4E;
}

.card:hover .view-details {
  background-color: white;
  color: #007BFF;
}

@media (max-width: 768px) {
  .cards-wrapper {
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .card-container {
    width: 100%;
    height: auto;
  }
}
