body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#FFCC70;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  .hero {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background: url('path/to/your/background-image.jpg') no-repeat center center/cover;*/
  color: #22668D;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
  }
  
  .hero-text p {
    font-size: 1.25rem;
  }
  
  .button {
    background: #22668D;
    color: #fff;
    border: #8ECDDD;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .button:hover {
    /*background: #e67e22;*/
    background: #22668D;
    transform: scale(1.05);
  }
  
  .hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .stats {
    display: flex;
    justify-content: space-between
  }

  