* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #FFFADD;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFADD;
  color: #22668D;
  margin: 0;
  padding: 0;
}