.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.registration-container{
    background-color: #22668D;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    color: #FFFADD;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
input[type="file"],
 input[type="radio"],
 input[type="checkbox"],
 select {
    margin-bottom: 5px;
}
input[type="firstname"],
input[type="lastname"],
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #8ECDDD;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #22668D;
    background-color: #FFFADD; 
}
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password i {
    font-size: 18px;
    color: #22668D;
}

input[type="file"]:focus,
 input[type="radio"]:focus,
 input[type="checkbox"]:focus,
 select:focus {
    outline: none;
    border-color: #FFCC70;
    background-color: #FFFADD;
}
input[type="firstname"]:focus,
input[type="lastname"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #FFCC70;
    background-color: #FFFADD;
}

.register-button {
    background-color: #FFCC70;
    color: #22668D;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #F2B646;
}
