<link rel="stylesheet" href="../../styles/dash-header.css" />
<body>
  <!-- Navbar Section -->
  <header id="header">
    <nav class="navbar" id="navbar">
      <div class="navbar-logo" id="navbar-logo">
        <!-- Profile Picture Placeholder -->
        <div class="profile-picture" id="profile-picture">
          <img src="" alt="" />
        </div>
      </div>
      <ul class="nav-links" id="nav-links">
        <li id="nav-home"><a href="/dashboard">Home</a></li>
        <li id="nav-about"><a href="/about">About Us</a></li>
        <li id="nav-settings"><a href="/profile-settings">Settings</a></li>
        <li id="nav-courses"><a href="courses">Courses</a></li>
        <li id="nav-classroom"><a href="/links">Links</a></li>
        <li id="nav-contact"><a href="/contact">Contact</a></li>
      </ul>
      <div class="nav-btn" id="nav-btn">
        <a href="/logout" class="btn" id="login-btn">Logout</a>
      </div>
    </nav>
  </header>
  <script>
    const userData = JSON.parse(localStorage.getItem('userData'))
    // Update the UI with user's profile picture
    const profilePicture = document.getElementById("profile-picture");
    if (profilePicture && userData.avatar) {
      profilePicture.style.backgroundImage = `url(${userData.avatar})`;
    }
  </script>
</body>
