<link rel="stylesheet" href="../../styles/dash-header.css">
<body>
  <!-- Navbar Section -->
  <header id="header">
    <nav class="navbar" id="navbar">
      <div class="navbar-logo" id="navbar-logo">
        <a href="#" id="logo-link"><img src="institution-logo.png" alt="Institution Logo" id="logo-img"></a>
      </div>
      <ul class="nav-links" id="nav-links">
        <li id="nav-home"><a href="#">Home</a></li>
        <li id="nav-about"><a href="/about">About Us</a></li>
        <li id="nav-settings"><a href="/profile-settings">Settings</a></li> <!-- Settings Link -->
        <li id="nav-courses"><a href="courses">Courses</a></li> <!-- Courses Link -->
        <li id="nav-classroom"><a href="/classroom-chat-box">links</a></li> <!-- Added Classroom Link -->
        <li id="nav-contact"><a href="/contact">Contact</a></li>
      </ul>
      <div class="nav-btn" id="nav-btn">
        <a href="#" class="btn" id="login-btn">Logout</a> <!-- Changed Login to Logout -->
      </div>
    </nav>
  </header>
</body>
