nav(class="navbar")
  h1 Scholarly
  ul 
   li a(href="#") Home
   li a(href="#about") About
   li a(href="#courses") Courses
   li a(href="#contact") Contact
   li a(href="#explore") Explore
   li a(href="#login") Login Here