<link rel="stylesheet" href="../../styles/nav-bar.css">
<nav class="navbar">
  <h1><%= heading %></h1>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/login">Login Here</a></li>
  </ul>
</nav>