<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/side-bar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<aside>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-code-alt'></i>
                <div class="logo_name">Scholarly</div>
            </div>
        </div>
        <ul class="nav_list">
            <li>
                <i class='bx bx-search-alt-2 bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">User Profile</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-message-dots'></i>
                    <span class="links_name">Message</span>
                </a>
                <span class="tooltip">Your Messages</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-book-open'></i>
                    <span class="links_name">Courses</span>
                </a>
                <span class="tooltip">Your Courses</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Explore</span>
                </a>
                <span class="tooltip">Explore Content</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart'></i>
                    <span class="links_name">Order</span>
                </a>
                <span class="tooltip">Your Orders</span>
            </li>
            
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Settings</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                     <img src="images (1).png" alt="Profile Picture">
                    <div class="name_job">
                        <div class="name">Sam</div>
                        <div class="job">Student</div>
                    </div>
                </div>
                <i class='bx bxs-log-out' id="log_out"></i>
            </div>
        </div>
    </div>
    <!-- <div class="home_content">
        <div class="text">Home Content</div>
    </div>
    <footer>
        <p>&copy; 2024 Scholartly. All rights reserved.</p>
    </footer> -->
</aside>
</html>
