<link rel="stylesheet" href="../../styles/side-bar2.css"> <!-- Link to the sidebar CSS -->

<div class="sidebar">
    <nav>
        <ul class="nav-list">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
    <div class="profile">
        <a href="#">Profile</a>
    </div>
</div>
